name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  env:
    container_name : project_name:latest

jobs:

  build: 

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file dockerfile --tag ${{env.container_name}}
      
    - name: Upload image
      uses: ishworkh/docker-image-artifact-upload@v1
      with:
        image: ${{env.container_name}}
        retention_days : 1
  
  dev:
    needs: [build]
    environment:
      name: dev

    runs-on: ubuntu-latest
    name: A job to say hello
    inputs:
      who-to-greet:  # id of input
        description: 'Who to greet'
        required: true
        default: 'World'
    outputs:
      time: # id of output
        description: 'The time we greeted you'
    runs:
      using: 'docker'
      image: ${{env.container_name}}
      args:
        - ${{ inputs.who-to-greet }}