name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:

  build: 

    runs-on: ubuntu-latest
    env:
      container_name : project_name:latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file dockerfile --tag ${{env.container_name}}
      
    - name: Upload image
      uses: ishworkh/docker-image-artifact-upload@v1
      with:
        image: ${{env.container_name}}
        retention_days : 1

    - name: Start docker containers
      run: |
        docker run ${{env.container_name}}

  dev:
    needs: [build]

    runs-on: ubuntu-latest
    env:
      name: dev
      container_name : project_name:latest
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: echo "hello"


    - name: Download image
      uses: ishworkh/docker-image-artifact-download@v1
      with:
        image: "project_name:latest"

    - name: Start docker containers
      run: |
        docker run project_name:latest

  # test:
  #   needs: [build]

  #   runs-on: ubuntu-latest
  #   env:
  #     name: dev
  #     container_name : project_name:latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Build the Docker image
  #     run: eco "hello"

  # stage:
  #   needs: [test]

  #   runs-on: ubuntu-latest
  #   env:
  #     name: dev
  #     container_name : project_name:latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Build the Docker image
  #     run: echo "hello"


  # prod:
  #   needs: [dev]

  #   runs-on: ubuntu-latest
  #   env:
  #     name: dev
  #     container_name : project_name:latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Build the Docker image
  #     run: echo "hello"

  #   # runs-on: ubuntu-latest

  #   # env:
  #   #   name: dev
  #   #   container_name : project_name:latest

  #   # container: ${{env.container_name}}    

    


  #   # steps:
  #   #   - name: Check out repository code
  #   #     uses: actions/checkout@v3

  #   # # Use the output from the `hello` step
  #   # - name: Get the output time
  #   #   run: echo "The time was ${{ steps.hello.outputs.time }}"