name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build: 

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file dockerfile --tag static-name:${{GITHUB_JOB}}
      
    # - name: Upload image
    #   uses: ishworkh/docker-image-artifact-upload@v1
    #   with:
    #     image: "test_image:latest"
  
  # dev:
  #   needs: [build]
  #   environment:
  #     name: dev
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  
  #     - name: Configure AWS credentials
