name: Docker Image CI

on:
  push:
    branches: [ "main" ]

env:
  GLOBAL_PREFIX: Docker
  CONTAINER_NAME: hello:version
  ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'

jobs:


  build: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Output Message
      run: |

        echo ::set-env name=STEPVAR::$CONTAINER_NAME$GITHUB_RUN_NUMBER
        echo "this step will build your container, it will use the $STEPVAR, on url $GITHUB_GRAPHQL_URL, and run number $GITHUB_RUN_NUMBER"

    - name: Build the Docker image
      run: docker build . --file dockerfile --tag $CONTAINER_NAME
      
    - name: Upload image
      uses: ishworkh/docker-image-artifact-upload@v1
      with:
        image: ${STEPVAR}
        retention_days : 1

  scret-example:
    needs: [build]

    runs-on: ubuntu-latest
    environment: secret
    env: 
      name: dev
      SUPER_SECRET: ${{ secrets.ROLENAME }}      
      AWS: ${{ secrets.AWS_KEY }}      

    steps:
    - uses: actions/checkout@v3

    - name: Using secrets
      run: |
        echo "Printing your secrets will look like this $AWS and $SUPER_SECRET"
        echo "But you can still pull them out if you add spaces"
        echo "$AWS" | sed 's/./& /g'
        echo "$SUPER_SECRET" | sed 's/./& /g'
        echo "So remember do not allow just anybody to update your github actions"








  dev:
    needs: [build]

    runs-on: ubuntu-latest
    environment: dev
    env: 
      name: dev
      SUPER_SECRET: ${{ secrets.ROLENAME }}      
      AWS: ${{ secrets.AWS_KEY }}      
    steps:
    - uses: actions/checkout@v3


    - name: Download image
      uses: ishworkh/docker-image-artifact-download@v1
      with:
        image: "project_name:latest"

    - name: Start docker containers
      run: |
        docker run ENV.CONTAINER_NAME "$name"

  # test:
  #   needs: [build]

  #   runs-on: ubuntu-latest
  #   env:
  #     name: dev
  #     container_name : project_name:latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Build the Docker image
  #     run: eco "hello"

  # stage:
  #   needs: [test]

  #   runs-on: ubuntu-latest
  #   env:
  #     name: dev
  #     container_name : project_name:latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Build the Docker image
  #     run: echo "hello"


  # prod:
  #   needs: [dev]

  #   runs-on: ubuntu-latest
  #   env:
  #     name: dev
  #     container_name : project_name:latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Build the Docker image
  #     run: echo "hello"

  #   # runs-on: ubuntu-latest

  #   # env:
  #   #   name: dev
  #   #   container_name : project_name:latest

  #   # container: ${{env.container_name}}    

    


  #   # steps:
  #   #   - name: Check out repository code
  #   #     uses: actions/checkout@v3

  #   # # Use the output from the `hello` step
  #   # - name: Get the output time
  #   #   run: echo "The time was ${{ steps.hello.outputs.time }}"